bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
**/Properties/launchSettings.json
*.DotSettings.user
**/*.db*
**/wwwroot/
!Api/wwwroot/
!Api/wwwroot/**
*/*.service*
*/*appsettings.Development.json
